a {
  text-decoration: underline;
}

.page {
  width: 100%;
  height: 100%;
  max-width: 100vw;
  min-height: 100vh;
  min-width: 100vw;
  background-color: #09090a;
}

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 30vh;
  padding-right: 50vw;
  padding-left: 16px;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.row {
  display: -ms-grid;
  display: grid;
  width: 100vw;
  min-height: 2vh;
  margin-bottom: 2px;
  padding: 13px 16px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-areas: ".";
  -ms-grid-columns: minmax(180px, 1fr) 16px minmax(100px, 140px) 16px minmax(100px, 100px) 16px minmax(120px, 140px) 16px 3fr 16px minmax(100px, 140px);
  grid-template-columns: minmax(180px, 1fr) minmax(100px, 140px) minmax(100px, 100px) minmax(120px, 140px) 3fr minmax(100px, 140px);
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  border-left: 3px solid #414141;
}

.row:hover {
  background-color: #141414;
}

.row.header {
  min-height: 5vh;
  padding-top: 0px;
  padding-bottom: 0px;
  border-bottom: 1px solid #4b4b4b;
  border-left-width: 0px;
}

.row.header:hover {
  background-color: hsla(0, 0%, 8%, 0);
}

.row.topfive {
  border-left-color: #b5ff00;
  background-color: #1e2220;
}

.row.topfive:hover {
  background-color: #232725;
}

.tabs-menu {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 20;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 37vw;
  margin-right: auto;
  margin-left: auto;
  padding-top: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 12;
  height: 72px;
  background-color: hsla(0, 0%, 100%, 0);
}

.tab {
  margin-top: -4px;
  padding: 4px 14px 2px;
  border-style: solid;
  border-width: 1px;
  border-color: #fff;
  border-radius: 50px;
  background-color: hsla(0, 0%, 86.7%, 0);
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
}

.tab.w--current {
  padding-top: 4px;
  border-radius: 20px;
  background-color: #fff;
  color: #000;
}

.tab.line {
  height: 1px;
  padding: 1px 6px;
  border-style: none;
  border-radius: 0px;
  background-color: #fff;
  font-size: 0px;
  line-height: 0px;
  cursor: auto;
}

.text-block {
  color: #000;
}

.text-block-2 {
  cursor: pointer;
}

.nav-inner {
  position: relative;
  z-index: 11;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid #464545;
  background-color: #09090a;
}

.brand {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
  margin-top: 15px;
  padding-left: 16px;
}

.dot {
  width: 4px;
  height: 4px;
  margin-bottom: 4px;
  border-radius: 20px;
  background-color: #fff;
}

.dot-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.menu-button {
  padding-right: 2px;
  padding-left: 2px;
}

.nav-menu {
  display: block;
  background-color: #904646;
}

.nav-link {
  color: silver;
}

.button {
  margin-right: 4px;
  margin-left: 4px;
  padding-top: 4px;
  padding-bottom: 3px;
  border-style: solid;
  border-width: 1px;
  border-color: #b5ff00;
  border-radius: 4px;
  background-color: #b5ff00;
  color: #000;
  font-size: 12px;
}

.button.outlined {
  background-color: rgba(181, 255, 0, 0);
  -webkit-transition: color 325ms ease, background-color 350ms ease;
  transition: color 325ms ease, background-color 350ms ease;
  color: #b5ff00;
}

.button.outlined:hover {
  background-color: #b5ff00;
  color: #000;
}

.button.outlined.white {
  border-color: #fff;
  color: #fff;
}

.button.outlined.white:hover {
  background-color: #fff;
  color: #000;
}

.button.meta {
  padding-right: 2px;
  padding-left: 2px;
  border-style: none;
  background-color: rgba(181, 255, 0, 0);
  color: #fff;
  cursor: pointer;
}

.cycleinfowrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 12px;
  padding-right: 8px;
  padding-left: 8px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.white {
  color: #fff;
}

.cyc-tb {
  width: 50%;
  padding-left: 8px;
  font-size: 18px;
}

.cyc-tb.float {
  padding-right: 8px;
  text-align: right;
}

.r-h4-assetname {
  margin-left: 9px;
  font-family: Abcfavoritlining, sans-serif;
  color: #fff;
}

.r1-left-nmae {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-width: 12vw;
  padding-top: 27px;
  padding-right: 8px;
}

.r-2nd {
  min-width: 12vw;
  margin-right: 4px;
  margin-left: 4px;
  padding-right: 8px;
  padding-left: 8px;
}

.r-4rd {
  min-width: 12vw;
  margin-left: 8px;
  padding-right: 8px;
  padding-left: 8px;
}

.r-3rd {
  min-width: 12vw;
  padding-right: 8px;
  padding-left: 8px;
}

.r-5th {
  padding-right: 10px;
  padding-left: 10px;
}

.meterwrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.meter-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  clear: both;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.meter-inner.inv {
  opacity: 0;
}

.metter-dot {
  width: 2px;
  height: 12px;
  margin-right: 1px;
  margin-left: 1px;
  border: 1px solid #b5ff00;
  border-radius: 0px;
  background-color: #b5ff00;
}

.metter-dot.white {
  border-color: #3f3f3f;
  background-color: #3f3f3f;
}

.metter-dot.middleline {
  height: 24px;
  border-color: #fff;
  background-color: #fff;
}

.tdvlabel {
  display: inline;
  color: #696969;
  font-weight: 400;
}

.tdvlabel.tdvammount {
  margin-right: 8px;
  float: none;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}

.r-h5-left {
  text-align: right;
}

.div-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 16px;
  margin-bottom: 5px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.swap-butotn {
  cursor: pointer;
}

.mm-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}

.mm-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 2px;
  border-radius: 20px;
  background-color: #181818;
  color: #fff;
}

.text-block-3 {
  margin-right: 7px;
  color: #a8a8a8;
}

.image {
  margin-right: 5px;
  margin-left: 10px;
}

.mm-showhide {
  display: none;
  border-radius: 20px;
  background-color: #141414;
}

.place {
  width: 10px;
  height: 10px;
}

.apy {
  padding-top: 4px;
  color: #dbdbdb;
  font-size: 16px;
}

.yourmoney {
  font-family: Abcfavoritmono, sans-serif;
  color: #444343;
  font-size: 16px;
}

.r-6-place {
  padding-left: 11px;
}

.filterwrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 20px;
  height: 12px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 0.27;
}

.filter-lineuno {
  width: 24px;
  height: 2px;
  background-color: #585858;
  color: #fff;
}

.filterline-dos {
  width: 16px;
  height: 2px;
  background-color: #8f8f8f;
}

.filer-linetres {
  width: 8px;
  height: 2px;
  background-color: #a7a7a7;
}

.modal {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 100;
  display: none;
  width: 100vw;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #000;
}

.modalinner {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 36%;
  height: 40vw;
  min-width: 354px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-style: solid;
  border-width: 1px;
  border-color: #fff;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.78);
}

.image-2 {
  position: relative;
  top: -37px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.heading {
  margin-right: auto;
  margin-left: auto;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  font-size: 15px;
  text-align: center;
  text-transform: uppercase;
}

.div-block-2 {
  width: 100%;
}

.heading-2 {
  margin-right: auto;
  margin-left: auto;
}

.image-3 {
  margin-right: auto;
  margin-left: auto;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.image-4 {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  padding: 13px;
  cursor: pointer;
}

.body {
  font-family: Abcfavorit, sans-serif;
  font-size: 12px;
}

.r-7-more {
  padding-right: 8px;
  padding-left: 8px;
}

.pricepertoke {
  font-family: Abcfavoritmono, sans-serif;
  color: hsla(0, 0%, 90%, 0.56);
  font-size: 16px;
}

.drawer {
  display: block;
  width: 100%;
  height: 0px;
  background-color: #333;
}

.tdv-aprox-conversion {
  margin-top: 5px;
  padding-left: 9px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: 15px;
  text-align: left;
}

.pricepertokespan {
  font-family: Abcfavorit, sans-serif;
  color: hsla(0, 0%, 90%, 0.35);
  font-size: 12px;
}

.top5-indication {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 15px;
  padding: 4px 19px 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: hsla(0, 0%, 100%, 0.36);
  border-radius: 20px;
  background-color: rgba(56, 152, 236, 0);
  color: #b5ff00;
  font-size: 10px;
  line-height: 14px;
}

.toketobe {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #fff;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

.heading-3 {
  font-size: 24px;
  text-transform: uppercase;
}

.toketobo-span {
  font-family: Abcfavoritmono, sans-serif;
  color: #b5ff00;
  font-weight: 400;
}

.div-block-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.heading-4 {
  margin-bottom: 80px;
  font-size: 17px;
  line-height: 18px;
  font-weight: 500;
}

#w-node-_50a37f7a-ccc6-4d67-cf4c-18f1ba7f43bf-a79faaa7 {
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-_50a37f7a-ccc6-4d67-cf4c-18f1ba7f43d1-a79faaa7 {
  -ms-grid-column-align: end;
  justify-self: end;
}

#w-node-_50a37f7a-ccc6-4d67-cf4c-18f1ba7f43dd-a79faaa7 {
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-_50a37f7a-ccc6-4d67-cf4c-18f1ba7f443b-a79faaa7 {
  -ms-grid-column-align: end;
  justify-self: end;
}

#w-node-_50a37f7a-ccc6-4d67-cf4c-18f1ba7f443e-a79faaa7 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 7;
  grid-column-end: 8;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-_50a37f7a-ccc6-4d67-cf4c-18f1ba7f4446-a79faaa7 {
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-_50a37f7a-ccc6-4d67-cf4c-18f1ba7f44a4-a79faaa7 {
  -ms-grid-column-align: end;
  justify-self: end;
}

#w-node-_50a37f7a-ccc6-4d67-cf4c-18f1ba7f44a7-a79faaa7 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 7;
  grid-column-end: 8;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-_50a37f7a-ccc6-4d67-cf4c-18f1ba7f44ad-a79faaa7 {
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-_50a37f7a-ccc6-4d67-cf4c-18f1ba7f450b-a79faaa7 {
  -ms-grid-column-align: end;
  justify-self: end;
}

#w-node-_50a37f7a-ccc6-4d67-cf4c-18f1ba7f450e-a79faaa7 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 7;
  grid-column-end: 8;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-_50a37f7a-ccc6-4d67-cf4c-18f1ba7f4516-a79faaa7 {
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-_50a37f7a-ccc6-4d67-cf4c-18f1ba7f4574-a79faaa7 {
  -ms-grid-column-align: end;
  justify-self: end;
}

#w-node-_50a37f7a-ccc6-4d67-cf4c-18f1ba7f4577-a79faaa7 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 7;
  grid-column-end: 8;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-_50a37f7a-ccc6-4d67-cf4c-18f1ba7f457d-a79faaa7 {
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-_50a37f7a-ccc6-4d67-cf4c-18f1ba7f45db-a79faaa7 {
  -ms-grid-column-align: end;
  justify-self: end;
}

#w-node-_50a37f7a-ccc6-4d67-cf4c-18f1ba7f45de-a79faaa7 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 7;
  grid-column-end: 8;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-_50a37f7a-ccc6-4d67-cf4c-18f1ba7f45e4-a79faaa7 {
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-_50a37f7a-ccc6-4d67-cf4c-18f1ba7f4642-a79faaa7 {
  -ms-grid-column-align: end;
  justify-self: end;
}

#w-node-_50a37f7a-ccc6-4d67-cf4c-18f1ba7f4645-a79faaa7 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 7;
  grid-column-end: 8;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-_50a37f7a-ccc6-4d67-cf4c-18f1ba7f464b-a79faaa7 {
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-_50a37f7a-ccc6-4d67-cf4c-18f1ba7f46a9-a79faaa7 {
  -ms-grid-column-align: end;
  justify-self: end;
}

#w-node-_50a37f7a-ccc6-4d67-cf4c-18f1ba7f46ac-a79faaa7 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 7;
  grid-column-end: 8;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-b70e8d0f-2143-0204-9904-b6c445cb6adc-a79faaa7 {
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-b70e8d0f-2143-0204-9904-b6c445cb6aeb-a79faaa7 {
  -ms-grid-column-align: end;
  justify-self: end;
}

#w-node-b70e8d0f-2143-0204-9904-b6c445cb6af5-a79faaa7 {
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-b70e8d0f-2143-0204-9904-b6c445cb6b35-a79faaa7 {
  -ms-grid-column-align: end;
  justify-self: end;
}

#w-node-b70e8d0f-2143-0204-9904-b6c445cb6b38-a79faaa7 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 7;
  grid-column-end: 8;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-b70e8d0f-2143-0204-9904-b6c445cb6cab-a79faaa7 {
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-b70e8d0f-2143-0204-9904-b6c445cb6ceb-a79faaa7 {
  -ms-grid-column-align: end;
  justify-self: end;
}

#w-node-b70e8d0f-2143-0204-9904-b6c445cb6cee-a79faaa7 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 7;
  grid-column-end: 8;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-b70e8d0f-2143-0204-9904-b6c445cb6b87-a79faaa7 {
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-b70e8d0f-2143-0204-9904-b6c445cb6bc7-a79faaa7 {
  -ms-grid-column-align: end;
  justify-self: end;
}

#w-node-b70e8d0f-2143-0204-9904-b6c445cb6bca-a79faaa7 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 7;
  grid-column-end: 8;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-b70e8d0f-2143-0204-9904-b6c445cb6bd0-a79faaa7 {
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-b70e8d0f-2143-0204-9904-b6c445cb6c10-a79faaa7 {
  -ms-grid-column-align: end;
  justify-self: end;
}

#w-node-b70e8d0f-2143-0204-9904-b6c445cb6c13-a79faaa7 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 7;
  grid-column-end: 8;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-b70e8d0f-2143-0204-9904-b6c445cb6b3e-a79faaa7 {
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-b70e8d0f-2143-0204-9904-b6c445cb6b7e-a79faaa7 {
  -ms-grid-column-align: end;
  justify-self: end;
}

#w-node-b70e8d0f-2143-0204-9904-b6c445cb6b81-a79faaa7 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 7;
  grid-column-end: 8;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-b70e8d0f-2143-0204-9904-b6c445cb6c19-a79faaa7 {
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-b70e8d0f-2143-0204-9904-b6c445cb6c59-a79faaa7 {
  -ms-grid-column-align: end;
  justify-self: end;
}

#w-node-b70e8d0f-2143-0204-9904-b6c445cb6c5c-a79faaa7 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 7;
  grid-column-end: 8;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-b70e8d0f-2143-0204-9904-b6c445cb6c62-a79faaa7 {
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-b70e8d0f-2143-0204-9904-b6c445cb6ca2-a79faaa7 {
  -ms-grid-column-align: end;
  justify-self: end;
}

#w-node-b70e8d0f-2143-0204-9904-b6c445cb6ca5-a79faaa7 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 7;
  grid-column-end: 8;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-b70e8d0f-2143-0204-9904-b6c445cb6cf4-a79faaa7 {
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-b70e8d0f-2143-0204-9904-b6c445cb6d34-a79faaa7 {
  -ms-grid-column-align: end;
  justify-self: end;
}

#w-node-b70e8d0f-2143-0204-9904-b6c445cb6d37-a79faaa7 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 7;
  grid-column-end: 8;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-df5000b2-4c11-89b1-b9cb-a8c38ccea9ad-a79faaa7 {
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-df5000b2-4c11-89b1-b9cb-a8c38ccea9bc-a79faaa7 {
  -ms-grid-column-align: end;
  justify-self: end;
}

#w-node-df5000b2-4c11-89b1-b9cb-a8c38cceaa0f-a79faaa7 {
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-df5000b2-4c11-89b1-b9cb-a8c38cceaa4f-a79faaa7 {
  -ms-grid-column-align: end;
  justify-self: end;
}

#w-node-df5000b2-4c11-89b1-b9cb-a8c38cceaa52-a79faaa7 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 7;
  grid-column-end: 8;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-df5000b2-4c11-89b1-b9cb-a8c38cceaaa1-a79faaa7 {
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-df5000b2-4c11-89b1-b9cb-a8c38cceaae1-a79faaa7 {
  -ms-grid-column-align: end;
  justify-self: end;
}

#w-node-df5000b2-4c11-89b1-b9cb-a8c38cceaae4-a79faaa7 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 7;
  grid-column-end: 8;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-df5000b2-4c11-89b1-b9cb-a8c38cceaaea-a79faaa7 {
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-df5000b2-4c11-89b1-b9cb-a8c38cceab2a-a79faaa7 {
  -ms-grid-column-align: end;
  justify-self: end;
}

#w-node-df5000b2-4c11-89b1-b9cb-a8c38cceab2d-a79faaa7 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 7;
  grid-column-end: 8;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-df5000b2-4c11-89b1-b9cb-a8c38cceab33-a79faaa7 {
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-df5000b2-4c11-89b1-b9cb-a8c38cceab73-a79faaa7 {
  -ms-grid-column-align: end;
  justify-self: end;
}

#w-node-df5000b2-4c11-89b1-b9cb-a8c38cceab76-a79faaa7 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 7;
  grid-column-end: 8;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-df5000b2-4c11-89b1-b9cb-a8c38cceab7c-a79faaa7 {
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-df5000b2-4c11-89b1-b9cb-a8c38cceabbc-a79faaa7 {
  -ms-grid-column-align: end;
  justify-self: end;
}

#w-node-df5000b2-4c11-89b1-b9cb-a8c38cceabbf-a79faaa7 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 7;
  grid-column-end: 8;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-df5000b2-4c11-89b1-b9cb-a8c38cceaa58-a79faaa7 {
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-df5000b2-4c11-89b1-b9cb-a8c38cceaa98-a79faaa7 {
  -ms-grid-column-align: end;
  justify-self: end;
}

#w-node-df5000b2-4c11-89b1-b9cb-a8c38cceaa9b-a79faaa7 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 7;
  grid-column-end: 8;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-df5000b2-4c11-89b1-b9cb-a8c38cceabc5-a79faaa7 {
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-df5000b2-4c11-89b1-b9cb-a8c38cceac05-a79faaa7 {
  -ms-grid-column-align: end;
  justify-self: end;
}

#w-node-df5000b2-4c11-89b1-b9cb-a8c38cceac08-a79faaa7 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 7;
  grid-column-end: 8;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

@font-face {
  font-family: 'Abcfavorit';
  src: url('../fonts/ABCFavorit-RegularItalic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Abcfavorit';
  src: url('../fonts/ABCFavorit-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Abcfavorit';
  src: url('../fonts/ABCFavorit-MediumItalic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Abcfavorit';
  src: url('../fonts/ABCFavorit-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Abcfavorit';
  src: url('../fonts/ABCFavorit-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Abcfavoritmono';
  src: url('../fonts/ABCFavoritMono-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Abcfavoritmono';
  src: url('../fonts/ABCFavoritMono-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Abcfavoritlining';
  src: url('../fonts/ABCFavoritLining-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Abcfavoritlining';
  src: url('../fonts/ABCFavoritLining-RegularItalic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Abcfavoritlining';
  src: url('../fonts/ABCFavoritLining-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Abcfavoritexpanded';
  src: url('../fonts/ABCFavoritExpanded-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}